{% extends "home.html"%}    
{% block "test1"%}
             <h1>{{prod.Category.categoryname}}</h1>
<div class="row py-5">
    <div class="col-lg-11 m-auto pt-3">
      <div class="row py-5">
        {%for prd in prod%}
        <div class="col-lg-3">
          <div class="card py-3">
            <div class="card-body">
                <h6>{{prd.pname}}</h6>
              <img src="{{prd.image.url}}" alt="load" class="img-fluid" style="height:200px;width:200px">
              <h6>{{prd.desc}}</h6>
              <p>Price: {{prd.price}}</p>
              <center>
              <a href="/viewdetails/{{prd.id}}" class="btn m-auto btn-primary">View Details</a> </center>

            </div>             
          </div>
        </div>

        {%endfor%}
</div></div></div>  
<!-- <a href="/showproducts/{{cat.id}}" class="btn btn-primary thumb-content">Click For More</a> -->
{%endblock%}